include:
  - local-supabase-project/docker-compose.yml

services:
  capstone-web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_SUPABASE_URL=$NEXT_PUBLIC_SUPABASE_URL
        - NEXT_PUBLIC_SUPABASE_ANON_KEY=$NEXT_PUBLIC_SUPABASE_ANON_KEY
        - DATABASE_URL=$DATABASE_URL
        - NEXT_PUBLIC_APP_URL=$NEXT_PUBLIC_APP_URL
        - NODE_ENV=$NODE_ENV
    restart: on-failure:5
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - studio
      - kong
      - auth
      - rest
      - realtime
      - storage
      - imgproxy
      - meta
      - functions
      - analytics
      - db
      - vector
      - supavisor
