name: build-docker-image

on:
  workflow_dispatch:
  push:
    paths:
      - 'software/**'
      - '.github/workflows/docker-image.yml'

jobs:
  docker:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: software
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - 
        name: Checkout code
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
      - 
        name: Node.js setup
        uses: actions/setup-node@v4
        with:
          node-version: '23'
          cache: 'pnpm'
          cache-dependency-path: package-lock.json
      -
        name: Build software
        run: |
          pnpm run build
      - 
        name: PrepareReg Names
        run: |
          echo IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          #context: "{{defaultContext}}:software"
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev